<gridster
  [options]="options"
  [class.footer-active]="isShowFooter"
  [class.header-active]="isShowHeader"
  [class.empty-content]="layout.length == 0"
>
  <ng-container *ngFor="let item of layout">
    <gridster-item [item]="item" class="{{ item['data'].class || '' }}">
      <builder-box-control-item [id]="item['id']" ></builder-box-control-item>
      <div style="height: 100%">
        <ng-container *ngComponentOutlet="item['data'].component"></ng-container>
      </div>
    </gridster-item>
  </ng-container>
</gridster>
