<nav class="sidebar-builder">
  <section class="sidebar-builder-section">
    <div class="sidebar-builder-section-group sidebar-section">
      <div class="sidebar-section-header">
        <span>Block elements</span>
      </div>
      <ng-container *ngIf="menus && menus.length > 0">
        <div class="sidebar-section-item sidebar-nav-list">
          <ng-container *ngFor="let menu of menus; let i = index">
            <ng-container *ngIf="menu">
              <div class="sidebar-nav-item" draggable="true" (dragstart)="dragStartHandler($event, menu)">
                <div class="sidebar-nav-item-content">
                  <svg [outerHTML]="menu.icon | svgIcon : configIcon"></svg>
                  <span *ngIf="menu.label" class="sidebar-nav-item-label">
                    {{ menu.label }}
                  </span>
                </div>
                <div class="sidebar-nav-item-icon">
                  <svg
                    [outerHTML]="'chevron-right' | svgIcon : configIcon"
                  ></svg>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </section>
</nav>
