.builder-collections {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 100%;
    user-select: none;

    span {
        margin-left: 10px;
    }
}