@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$sidebarWidth: 200px;
$heightBuilder: 880px;
$heightBoxCheck: 60px;
$spaceBotBoxCheck: 12px;
$heightGridContent: 844px;

* {
  font-family: "Roboto", sans-serif;
}

.builder-layout24ntt {
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 1);
}

.layout24ntt {
  padding: 0;
  margin: 0;
  width: 100%;

  &-field {
    height: calc(100vh - $heightBuilder);
    margin: 0;

    h1 {
      margin: 0;
    }
  }

  &-builder {
    display: flex;
    width: 100%;
    height: $heightBuilder;
  }

  &-sidebar {
    max-width: $sidebarWidth;
    width: $sidebarWidth;
    -webkit-user-select: none;
    user-select: none;
  }

  &-preview {
    max-width: calc(100% - $sidebarWidth);
    width: calc(100% - $sidebarWidth);
    max-height: $heightBuilder;
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    padding-top: 0;
    -webkit-user-select: none;
    user-select: none;

    &-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.94px;
      text-align: left;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 12px;
    }

    .box-check {
      width: 100%;
      height: $heightBoxCheck;
      border-radius: 12px;
      background: rgba(242, 242, 242, 1);
      margin-bottom: $spaceBotBoxCheck;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-user-select: none;
      user-select: none;

      &-text {
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
      }
    }

    gridster {
      display: flex;
      max-height: $heightGridContent;
      flex-direction: column;
      background: rgba(255, 255, 255, 1);
      border: 1px dashed rgba(200, 200, 200, 1);
      border-radius: 12px;
      padding: 12px !important;
      margin-bottom: 12px;
      transition: all linear 0.23s;

      &.footer-active {
        max-height: calc(
          $heightGridContent - ($heightBoxCheck + $spaceBotBoxCheck)
        );
      }

      &.header-active {
        max-height: calc(
          $heightGridContent - ($heightBoxCheck + $spaceBotBoxCheck)
        );
      }

      &.footer-active.header-active {
        max-height: calc(
          $heightGridContent - ($heightBoxCheck + $spaceBotBoxCheck) * 2
        );
      }

      &.empty-content::before {
        content: "YOUR LAYOUT IS HERE...";
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
      }
    }

    button {
      height: 30px;
    }

    .draggable {
      padding: 16px 20px;
      border: 1px solid #969696;
      border-radius: 20px;
      margin-left: 20px;
      margin-bottom: 12px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    .toolbar {
      height: 75px;
      display: flex;
    }
  }
}
